@tailwind base;
@tailwind components;
@tailwind utilities;

/* 직접 CSS 속성 정의 */
.transition-max-height {
  transition: max-height 0.3s ease-in-out;
}

/* 일반 링크 스타일 */
.lw_menu_item a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #8d8d8d;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-sizing: border-box;
  position: relative; /* 추가: 의사 요소를 위한 상대 위치 */
}

/* 활성화된 링크 스타일 */
.lw_menu_item a.active {
  font-weight: bold;
  color: #4a4a4a;
  background-color: #e0e0e0;
}

/* 일반 링크의 hover 스타일 */
.lw_menu_item a:hover {
  color: #4a4a4a;
  background-color: #f0f0f0;
}

/* Sidebar 전체 스타일 */
aside {
  height: 100vh; /* 사이드바의 높이를 전체 화면 높이로 설정 */
  overflow-y: auto; /* 내용이 많아질 경우 스크롤 가능하게 설정 */
  user-select: none; /* 드래그 방지 */
}
